.main-content {
  padding: 35px 0 0;
  margin: 60px auto;
  max-width: 100% !important;
  transition: margin-left 0.3s ease;
}

.main-content.open-sidebar {
  margin-left: 240px;
}

.dashboard-container {
  transition: margin-left 0.3s ease;
}

nav button.btn.btn-outline-secondary {
  margin-top: -5px;
}
.modal {
  top: 80px;
}
@media (max-width: 991px) {
  .main-content {
    margin-left: 20px;
    margin-right: -20px;
}
  .main-content.open-sidebar {
    margin-left: 0;
  }
} 