.main-content {
  padding: 85px 0 0;
  margin-left: 60px;
  transition: margin-left 0.3s ease;
}

.main-content.open-sidebar {
  margin-left: 240px;
}

.dashboard-container {
  transition: margin-left 0.3s ease;
}

nav button.btn.btn-outline-secondary {
  margin-top: -5px;
}

@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
  }
  .main-content.open-sidebar {
    margin-left: 0;
  }
} 